.additional-products-list__features {
  display: flex;
  flex-direction: row;
  gap: 112px;
}

.additional-product-list-features__element {
  font-family: "lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-align: center;
  color: #444444;
}

.additional-product-list-features__value {
  font-family: "lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-align: right;
  color: #444444;
}

.additional-products-list-features__link {
  background-color: #68b738;
}

@media (min-width: 768px) {
  .additional-product-list-features__element {
    justify-self: end;
  }

  .additional-product-list-features__value {
    justify-self: end;
  }
}
