.product-preview {
  background-color: #ffffff;
  padding: 20px  20px 0;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-preview {
    padding: 0 110px;
  }
}

.product-preview__container {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview__container {
    margin-bottom: 45px;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__container {
    width: 1220px;
    margin-bottom: 71px;
  }
}

.product-preview__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview__list {
    gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__list {
    display: flex;
    gap: 80px;
    flex-flow: row wrap;
  }
}

.product-preview__item {
  position: relative;
  display: block;
  min-width: 280px;
  min-height: 266px;
  padding: 22px 20px 16px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview__item {
    min-width: 708px;
    min-height: 372px;
    padding: 77px 52px 53px;
  }

  .product-preview__item::after {
    display: block;
    content: "";
    position: absolute;
    top: 81px;
    right: 63px;
    width: 200px;
    height: 211px;
    background-image: url("../../icons/stack.svg#slim-cat-tablet-desktop");
    background-position: center;
    background-repeat: no-repeat;
  }

  .product-preview__item--pro::after {
    content: "";
    width: 268px;
    height: 200px;
    top: 91px;
    right: 29px;
    background-image: url("../../icons/stack.svg#pro-cat");
  }
}

@media (max-width: $mobile-only) {
  .product-preview__item::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__item {
    min-width: unset;
    width: 570px;
    min-height: 374px;
    padding: 41px 52px;
  }
}

.product-preview__title {
  display: flex;
  gap: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 37px;
  text-transform: uppercase;
  align-items: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 22px;
  overflow-wrap: anywhere;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    max-width: 56.3%;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 39px;
    gap: 62px;
  }
}

.product-preview__title::before {
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#slim-cat");
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview__title::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__title::before {
    background-image: url("../../icons/stack.svg#slim-cat-tablet-desktop");
    width: 100px;
    height: 106px;
  }
}

.product-preview__title--pro {
  gap: 11px;
}

@media (min-width: $desktop-width) {
  .product-preview__title--pro {
    gap: 47px;
  }
}

.product-preview__title--pro::before {
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#pro-cat");
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-left: -7px;
  margin-top: 3px;
}

@media (min-width: $desktop-width) {
  .product-preview__title--pro::before {
    width: 134px;
    height: 100px;
    margin-left: -19px;
    margin-top: 6px;
  }
}

.product-preview__description {
  font-family: "lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: #444444;
  margin: 0;
  overflow-wrap: anywhere;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;
    max-width: 56.3%;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}

.product-preview__description::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 21px;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .product-preview__description::after {
    display: none;
  }
}

.product-preview__catalog-link {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  overflow-wrap: anywhere;
  width: fit-content;
  padding-left: 1px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .product-preview__catalog-link {
    gap: 25px;
    font-size: 20px;
    line-height: 20px;
    max-width: 56.3%;
  }
}

@media (min-width: $desktop-width) {
  .product-preview__catalog-link {
    font-size: 20px;
    line-height: 20px;
    gap: 25px;
  }
}

.product-preview__catalog-link:active {
  opacity: 0.3;
}

.product-preview__catalog-link::after {
  display: block;
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../../icons/stack.svg#preview-link");
  background-size: 32px 12px;
  background-position: right;
  background-repeat: no-repeat;
  color: #000000;
  transition: width 0.1s ease-in-out;
  flex-shrink: 0;
}

.product-preview__catalog-link:hover::after {
  width: 32px;
}

.product-preview__catalog-link:focus::after {
  width: 32px;
}

.product-preview__catalog-link:focus-visible::after {
  width: 32px;
}

.product-preview__catalog-link:active::after {
  width: 32px;
}
