.result-example {
  position: relative;
}

@media (max-width: $mobile-only) {
  .result-example {
    background-color: #eaeaea;
  }
}

@media (min-width: $tablet-width) {
  .result-example::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 462px;
    z-index: -1;
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .result-example::after {
    background-color: #f2f2f2;
  }
}

.result-example__container {
  display: block;
  width: 320px;
  min-height: 659px;
  margin: 0 auto;
  padding: 25px 20px 40px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .result-example__container {
    padding: 0 30px 101px;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .result-example__container {
    position: relative;
    width: 1440px;
    padding: 0 110px 75px;
    min-height: unset;
  }
}

@media (min-width: $desktop-width) {
  .result-example__description-container {
    width: 433px;
  }
}

.result-example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  text-align: start;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
  overflow-wrap: anywhere;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .result-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .result-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 146px;
  }
}

.result-example__description {
  font-family: "lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
  overflow-wrap: anywhere;
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .result-example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .result-example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }
}
